# file system
.DS_Store

# ide
.idea/**

# Project exclude paths
**.log
**/target
**/.classpath
**/.project
**/.factorypath

# gradle
.gradle/**
gradle/**
**/build/**

# mqtt client java
*.lck

# mvn shade plugin
dependency-reduced-pom.xml

# log file
logs/
